.embedded-content {
    width: 100%;
    height: 500px; /* Adjust as needed */
    border: none;
    overflow: hidden;
    margin: 0 auto;
  }
  
/* For center alignment */
.embedded-content.center {
    display: block;
    margin: 0 auto;
  }
  
  /* For right alignment */
.embedded-content.right {
    display: block;
    margin-left: auto;
    margin-right: 0;
  }